[Unit]
Description=Earth wallpaper update script

[Service]
ExecStart=%h/.config/earth_wallpaper/earth_wallpaper.sh

[Install]
WantedBy=default.target
