# Domain to fetch the wallpapers from
DOMAIN="example.com"

# Set resolution to one of FHD, HD, WUXGA, WQHD, 4K
RESOLUTION=HD

# Specify local timezone
TIMEZONE=Europe/Berlin

# Earth scaling, value between 0 and 1
ZOOM=0.7

# Field of view in degrees, value between 30 and 180
FOV=70

# Star size scaling, value between 0 and 1
STARS=0.5

# Star constellation line visibility, value between 0 and 1
CONSTELLATIONS=0.05
